{% extends '_base.html' %}
{% block title %}
	{{ movie.name }}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col">
			<h1>{{ movie.name }}</h1>
			<p>{{ movie.description }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form action="{% url 'add_comment' %}" method="post">
				{% csrf_token %}
				<input type="hidden" name="movie_id" value="{{movie.id}}">
				<textarea name="text" placeholder="Введите комментарий"></textarea>
				
				<button type="submit">Оставить коммент</button>
			</form>
			{% for comment in movie.get_comments %}
			<div class="parent_comment">
			<h2>{{comment.user.username}}</h2>
				<p>{{comment.text}}</p>
			</div>
				{% for child in comment.comment_set.all %}
			<div class="child_comment">
			<h2>{{child.user.username}}</h2>
				<p>{{child.text}}</p>
			</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>	
{% endblock content %}